<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 24rem;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Login Page</h2>
      
      <form (ngSubmit)="onLogin()">
        
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" 
                 name="username" 
                 class="form-control" 
                 [(ngModel)]="username" 
                 required 
                 placeholder="Insert username">
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" 
                 name="password" 
                 class="form-control" 
                 [(ngModel)]="password" 
                 required 
                 placeholder="Insert password">
        </div>

        <button type="submit" 
                class="btn btn-primary w-100 mt-3" >
                Enter
        </button>
      </form>

      <div class="text-center mt-3">
        <span class="small text-muted">Don't have an account? </span>
        <a routerLink="/register" class="small text-decoration-none">Sign up</a>
      </div>

      @if (errorMessage) {
        <p class="text-danger mt-3 text-center small">
          {{ errorMessage }}
        </p>
      }
    </div>
  </div>
</div>