<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary">
      @if (tasks.length > 0) {
        {{ tasks[0].status.replace('_', ' ') | titlecase }} Activities
      } @else {
        Activities
      }
    </h2>  
    <span class="badge bg-info text-dark">{{ tasks.length }} Tasks found</span>
    <button class="btn btn-success shadow-sm" routerLink="/tasks/new">Create Task</button>
  </div>

  @if (tasks.length === 0) {
    <div class="alert alert-light text-center border shadow-sm">
      No tasks currently.
    </div>
  } @else {
    <div class="row">
      @for (task of tasks; track task.id) {
        <div class="col-md-6 col-lg-4 mb-4">
         <div class="card h-100 shadow-sm border-start border-5" 
          [ngClass]="{
            'border-warning': task.status === 'BACKLOG',
            'border-primary': task.status === 'IN_PROGRESS',
            'border-success': task.status === 'COMPLETED'
          }">
            <div class="card-body">
              <h5 class="card-title fw-bold">{{ task.title }}</h5>
              <p class="card-text text-muted small">{{ task.description }}</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <span class="small">
                  <i class="bi bi-clock"></i> Total worked: <strong>{{ task.totalHours }}h</strong>
                </span>
                <div class="d-flex align-items-center gap-2">
                  <input type="number" #hoursInput class="form-control form-control-sm" id="nHour" placeholder="Ore" min="0.5">
                  <button (click)="onAddHours(task, hoursInput.value); hoursInput.value=''" 
                          class="btn btn-sm" id="btn-add-hours">
                    Add
                  </button>
                </div>
              </div>

              <div class="d-flex justify-content-between gap-4">
                <button (click)="onChangeState(task)" class="btn btn-sm btn-secondary w-100" id="btn-change-state">
                  Change State
                </button>
                <button class="btn btn-sm btn-outline-secondary w-100" id="btn-comment">
                  Comment
                </button>
              </div>
            </div>
            
          </div>
        </div>
      }
    </div>
  }
</div>